<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0;
  transition: 0.3s;
  width: 20%;
}

/* .card:hover {
  box-shadow: 0;
} */

/* .container {
  padding-top: 0px;
  padding-bottom: 0px;
} */

</style>
</head>
<body>
  <main role="main" style="background-color:#FFFFFF">

      <div class="jumbotron" style="padding:0px; background-color:#FFFFFF">

        <section class="our-teachers">
          <div class="container" style="text-align:center; background-color:#FFFFFF; padding:0px">
            <h2 style=text-align:center>Data Staf SPK Serasi Kota Payakumbuh</h2>
            <div class="row justify-content-center">
              <% @stafs.each do |staf| %>
                <div class="card">
                  <br>
                    <a href="<%= url_for action: 'view', staf_id: staf.id %>"><img src="<%= staf.staf_photo %>" style="width:115px; height:150px"></a><hr>
                      <div class="text-center mt-3"><h4><%= staf.staf_nama %></h4></div>
                      <div><%= staf.staf_nip %></div>
                      <div><%= staf.staf_golongan %></div>
                  </div>
                  <br>
                <% end %>
              </div>
            </div>
          </section>
        <hr>
      </div>
  </main>
</body>
</html>
