<%= form_for(@data, url: url_for(action: 'index', peserta_id: @data.id), multipart: true ) do |f| %>
<h1>Data Peserta</h1>

<div class="table-responsive">
  <table class="table table-striped">

    <tr>
      <td>Nama</td>
      <td>:</td>
      <td><%= @data.peserta_nama %></td>
    </tr>

    <tr>
      <td>Tanggal Lahir</td>
      <td>:</td>
      <td><%= @data.peserta_tanggal_lahir %></td>
    </tr>
    <tr>
      <td>Tempat Lahir</td>
      <td>:</td>
      <td><%= @data.peserta_tempat_lahir %></td>
    </tr>
    <tr>
      <td>Jenis Kelamin</td>
      <td>:</td>
      <td><%= @data.peserta_jk %></td>
    </tr>
    <tr>
      <td>NIK</td>
      <td>:</td>
      <td><%= @data.peserta_nik %></td>
    </tr>
    <tr>
      <td>Alamat</td>
      <td>:</td>
      <td><%= @data.peserta_alamat %></td>
    </tr>
    <tr>
      <td>Nama Ayah</td>
      <td>:</td>
      <td><%= @data.peserta_nama_ayah %></td>
    </tr>
    <tr>
      <td>Nama Ibu</td>
      <td>:</td>
      <td><%= @data.peserta_nama_ibu %></td>
    </tr>
    <tr>
      <td>Tinggi</td>
      <td>:</td>
      <td><%= @data.peserta_tinggi %></td>
    </tr>
    <tr>
      <td>Berat Badan</td>
      <td>:</td>
      <td><%= @data.peserta_bb %></td>
    </tr>
    <tr>
      <td>Jarak sekolah</td>
      <td>:</td>
      <td><%= @data.peserta_jarak_sekolah %></td>
    </tr>
    <tr>
      <td>Golongan darah</td>
      <td>:</td>
      <td><%= @data.peserta_gol_darah %></td>
    </tr>
    <tr>
      <td>Jumlah saudara</td>
      <td>:</td>
      <td><%= @data.peserta_jumlah_saudara %></td>
    </tr>
    <tr>
      <td>Telepon</td>
      <td>:</td>
      <td><%= @data.peserta_telepon %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>:</td>
      <td><%= @data.peserta_email %></td>
    </tr>
    <tr>
      <td>Bahasa sehari-hari</td>
      <td>:</td>
      <td><%= @data.peserta_bahasa_seharihari %></td>
    </tr>
    <tr>
      <td>Jenjang Pendidikan</td>
      <td>:</td>
      <td><%= @data.peserta_jenjang_pendidikan %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td>:</td>
      <td><%= @data.peserta_status %></td>
    </tr>
    <tr>
      <td>Kategori</td>
      <td>:</td>
      <td><%= @data.peserta_kategori %></td>
    </tr>
    <tr>
      <td>JWT Token</td>
      <td>:</td>
      <td><%= @data.peserta_jwt_token %></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td>:</td>
      <td><img src="<%= @data.peserta_photo %>" style="width: 100px"></td>
    </tr>
  </table>
<a href="<%= url_for action: 'edit', peserta_id: @data.id %>" class="btn btn-small btn-default">Edit</a>
</div>
<% end %>
