<%= form_for(@data, url: url_for(action: 'baru_post'), multipart: true ) do |f| %>

<div class="form-group">
  <div class="row">
    <%= f.label 'Nama Lengkap', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :staf_nama, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Tanggal Lahir', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.date_field :staf_tgl_lahir, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Tempat Lahir', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :staf_tempat_lahir, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Jenis Kelamin', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.select(:staf_jk, ['Laki-laki', 'Perempuan'], {}, { class: 'form-control-lg' } ) %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Alamat Lengkap', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_area :staf_alamat, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'No Telepon', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :staf_telepon, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'NIP', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :staf_nip, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Golongan', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :staf_golongan, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Email', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :staf_email, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Pendidikan Terakhir', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :staf_pendidikan_terakhir, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Agama', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.select(:staf_agama, ['Islam', 'Kriten','Hindu','Budha','Protestan','Konghucu'], {}, { class: 'form-control-lg' } ) %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Status Perkawinan', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.select(:staf_status_perkawinan, ['Menikah', 'Belum Menikah'], {}, { class: 'form-control-lg' } ) %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Photo', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.file_field :staf_photo, {class: 'form-control'} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-8">
        <input type="submit" value="Masukan Data" class="btn btn-primary">
    </div>
  </div>
</div>

<% end %>
